.feedback {
  position: fixed;
  top: 50vh;
  left: 0;
}
.yes {
  left: auto;
  right: 0;
}
img {
  width: 70%;
  margin-left: 15%;
}
div.buttons {
  text-align: center;
  padding: 30px;
}
button {
  padding: 20px;
  background: transparent;
}
.match {
  position: fixed;
  top: 50vh;
  left: 45vw;
  display: none;
  color: red;
}
