#clock {
  background-color: black;
  color: red;
  font-size: 90px;
  display: flex;
}
#clock > span {
  display: flex;
}

.digit {
  width: 80px;
  height: 134px;
  background-image: url(images/7segment.jpg);
}
